.root {
  padding: 64px;
  max-width: 1280px;
  margin: 0px auto;
}
.optioncontainer{
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  margin-bottom: 4px;
  height: 40px;
}
.filter {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.ratingcontainer{
  display: flex;
  align-items: center;
  gap: 4px;
}
.price {
  margin-bottom: 8px;
}
.currentPrice {
  font-weight: bold;
  color: crimson;
}
.rating {
  color: gold;
  font-size: 16px;
}
.ratingpoint{
  color: gray;
  font-size: 12px;
}
.originalPrice {
  text-decoration: line-through;
  color: gray;
  margin-right: 8px;
}
.loading{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  margin-bottom: 4px;
}
.thumbnail {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  height: auto;
}
.sortBar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 14px;
}
.sortBar div{
  cursor: pointer;
  color: #666;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.sortBar div:hover {
  background-color: #f0f0f0;
}
.sortBar .active {
  font-weight: bold;
  color: #000;
  background-color: #ffe6e6;
}
.link {
  text-decoration: none;
  display: block;
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .root {
    padding: 32px;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .optioncontainer{
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .root {
    padding: 16px;
  }
}
